
<!DOCTYPE html>
<html>
    <head>
        {% if page is defined %}
            <title>{{ page.getTitle() }}</title>
            <meta name="description" content="{{ page.metaDescription }}" />
        {% endif %}


        <link rel="stylesheet" href="{{ getAssetUrl('themes/landing/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ getAssetUrl('themes/landing/css/owl.carousel.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ getAssetUrl('themes/landing/css/all.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ getAssetUrl('themes/landing/css/select2.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ getAssetUrl('themes/landing/css/main.css') }}" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ outputHeadDeclarations() }}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-194830946-7"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-194830946-7');
        </script>

        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-N9D3M75');</script>
        <!-- End Google Tag Manager -->

    </head>
    <body>
        {{ outputScripts('bodyOpen') }}
        {% block content %}{% endblock %}

        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/owl.carousel.min.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/vue.min.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/moment.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/moment-jalaali.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/vue-persian-datetime-picker.umd.min.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/select2.min.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/jquery.countdown.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/jquery.cookie.js')}}"></script>
        <script type="text/javascript" src="{{ getAssetUrl('themes/landing/js/theme.js')}}"></script>

        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9D3M75"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>

        {{ outputScripts('bodyClose') }}
    </body>
</html>
